.logo-container {
  position: absolute;
  width: 300px;
  height: 609px;
  top: 30%;
  right: 13%;
  bottom: 0;
  left: auto;
  z-index: 1;
  margin: auto;
  animation: pulse infinite;
  animation-duration: 8s;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    transform: rotateZ(30deg) !important;
    z-index: 1;
    animation: jackInTheBox;
    animation-duration: 7s;
  }
}


@media (width <=1200px) {
  .logo-container {
    position: absolute;
    width: 150px;
    height: auto;
    top: 33rem;
    right: 0;
    box-sizing: border-box; 
    left: 0;

  }

}