@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

$color-primary-white: rgb(240, 240, 240);


// Portfolio main page
.portfolio-page {
    padding: 5rem;
    width: 100%;

    overflow-y: scroll;
    margin-left: 4rem;

    h1.page-title {
        margin: 0 0 2rem 10rem;
        padding: 0;
    }
}

// New pics gallery
.card {
    border-radius: 16px;
    border: none;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
    position: relative;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    &:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .card-image {
        object-fit: contain;
        position: absolute;
        width: 100%;
    }

    .info {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: #1a1a1af6;
        transform: translateY(100%) translateY(-88px) translateZ(0);
        transition: transform 1s ease-out;

        .title {
            margin: 0;
            margin-bottom: 0.8rem;
            padding: 24px;
            padding-bottom: 3rem;
            font-size: 2em;
            font-family: 'Coolvetica';
            font-weight: lighter;
            line-height: 1;
            color: rgb(211, 211, 211);
            border-bottom: solid 5px #ffd90079;
        }

        .description {
            margin: 0;
            padding: 0 24px 24px;
            font-size: 1.8em;
            font-family: 'Coolvetica';
            font-weight: lighter;
            line-height: 1.3;
            color: rgb(211, 211, 211);
        }

        .card-button {
            background-color: #f7d722;
            color: #131313;
            text-transform: uppercase;
            width: 89%;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 1rem;
            border: 1px solid #181506;
            margin-top: 6rem;
            margin-left: 2rem;
            float: left;
            animation: fadeInAnimation 1s 1.8s backwards;
            white-space: nowrap;
            animation: backInLeft;
            animation-duration: 3s;

            &:hover {
                background: #bcbcbc;
                color: #101010;
            }
        }


    }


}

.info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    background-size: contain;
    opacity: 0.25;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 5s ease-out;
    color: rgba(0, 0, 0, 0.87);
}

.card:hover .info,
.card:hover .info:before {
    transform: translateY(0) translateZ(0);
}

@media (width <=1700px) {
    .container {
        flex-direction: column;
        max-width: 1600px;
    }
}

@media (width <=1200px) {
    .portfolio-page {
        margin: 7rem 0;
        padding: 0;

        & h1.page-title {
            margin-bottom: -1rem;
            padding: 0;
        }
    }

}
