.nav-bar {
  background: #070320;
  display: flex;
  justify-content: center;
  padding: 0 0.5em 0 0.5em;
  width: 75px;
  height: 100%;
  position: absolute !important;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 30px;
      height: auto;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute !important;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #8b8b8b;
      display: block;
      line-height: 70px;
      height: 70px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ACERCA';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACTO';
      }
    }

    a.portfolio-link {
      &:after {
        content: 'PORTAFOLIO';
      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;
        color: #6a6a6a;
      }

      &:hover {
        .anchor-icon {
          color: #ffd700;
        }
      }
    }
  }
}

.hamburger-icon,
.close-icon {
  display: none;
}


@media (width <=1200px) {
  .nav-bar {
    background: transparent;
    justify-content: space-between;
    align-items: flex-start;
    position: initial;
    height: 30rem;
    min-height: auto;
    width: 100%;

    .logo {
      padding: 1rem;
    }

    ul,
    nav {
      display: none;
    }

    nav {
      width: 100%;
      top: 0;
      left: 0;
      background: #181818;
      height: 100%;
      margin: 0;
      z-index: 2;
      position: relative;

      &.mobile-show {
        display: block;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a:after {
        opacity: 1;
        position: initial;
        width: auto;
        margin-left: 10PX;
      }
    }

    .hamburger-icon,
    .close-icon {
      position: absolute;
      top: 2rem;
      right: 2rem;
      display: block;
    }
  }
}