html {
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100%;
  overflow: hidden;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #160c3d;
  overflow: hidden;
  display: block;

  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: 'Montserrat', sans-serif;
  --font-text: 'Lato', sans-serif;
}

@media (width <=1200px) {
  body {
    overflow: visible;
  }
}
